@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #1F1A36);
} */

.content{
    text-align: center;
}

.h2{
    color: rgb(145, 149, 224);
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  width: 40%;
  height: max-content;
  padding: 10px;
  background: #516e81;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #1F1A36);
}
.content .form .user_details{
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.form .user_details .input_box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.form .input_box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user_details .input_box input{
  height: 45px;
  /* width: 100%; */
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user_details .input_box input:focus,
.user_details .input_box input:valid{
  border-color: #1F1A36;
}

 .form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 .form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}


 .form input[type="radio"]{
   display: none;
 }
 .form .button{
   height: 45px;
   margin: 35px 0
 }
 .form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: rgba(0, 128, 0, 0.651);
 }
 .form .button input:hover{
  /* trans.form: scale(0.99); */
  background: rgba(0, 128, 0, 0.651);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
.form .user_details .input_box{
    margin-bottom: 15px;
    width: 100%;
  }
  .form .category{
    width: 100%;
  }
  .content .form .user_details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user_details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
