.resourcetable {
    padding: 10px;
    border-collapse: collapse;
    margin: 25px 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.resourcetable thead tr {
    background-color: purple;
    color: #ffffff;
    text-align: left;
}

.resourcetable th,
.resourcetable td {
    padding: 12px 15px;
}

.resourcetable tbody tr {
    border-bottom: thin solid #dddddd;
}

.resourcetable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.resourcetable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.resourcetable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}